<!DOCTYPE html>
<html lang="en">
<head>
<!--Charset permite definir la codificacion de caracteres a utilizar-->
   <meta charset="UTF-8"> 
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Estructura HTML</title>
</head>
<body>
   <!--h1 por recomendacion de la W3C solo debe ser utilizado una vez por documento HTML-->
   <h1>Encabezado 1 es el mas importante</h1>
   <h2>Encabezado 2</h2>
   <h3>Encabezado 3</h3>
   <h4>Encabezado 4</h4>
   <h5>Encabezado 5</h5>
   <h6>Encabezado 6</h6>

   <!--Elemento de parrafo-->
   <p>Este es un parrafo, puede tener todo el texto que necesitmos</p>
   <p>El navegador se encargar de agregar espacio vertical entre cada uno de los parrafos que escribimos</p>
</body>
</html>