<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <!--Etiqueta para abrir un hipervinculo-->
   <a href="https://www.google.com">Ir a Google</a>

   <!--Enlace con anclas # -->
   <a href="#biografia">Biografia</a>

   <!--Enlace de correo electronico-->
   <a href="mailto:user@server.com">Enviar Mensaje</a>

   <!--Enlace para hacer una llamada si abrimos la wen desde el mobil-->
   <a href="tel:+5731384775757">Contactame</a>

   <!--Etiqueta para abrir una imagen en una ruta absoluta-->
   <img width="200" height="100" src="https://programacion.net/files/article/20161223111243_html5.jpg" alt="">

   <!--Etiqueta para abrir una imagen en una ruta relativa-->
   <img width="200" src="/public/img/yo.jpg" alt="Imagen de mi">

   <!--Lista con hipervinculos-->
   <ul>
      <li> <a href="https://www.facebook.com">Facebook </a> </li>
      <li> <a href="https://www.instagram.com">Instagram </a> </li>
      <li> <a href="https://www.ole.com.ar">Olé </a> </li>
  </ul>
</body>
</html>

